#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <175>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <175>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            hold-trigger-on-release;
        };

        backspace_behaviour: backspace_behaviour {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_BEHAVIOUR";
            bindings = <&kp H>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        word_backspace_behaviour: word_backspace_behaviour {
            compatible = "zmk,behavior-mod-morph";
            label = "WORD_BACKSPACE_BEHAVIOUR";
            bindings = <&kp W>, <&kp LA(BACKSPACE)>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
        };

        colon_semicolon: colon_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COLON_SEMICOLON";
            bindings = <&kp COLON>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <15 16>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <15 16>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            display-name = "Base";
            bindings = <
&none    &kp A  &word_backspace_behaviour  &kp P  &kp P     &kp G                             &kp J                 &kp L             &kp U      &kp Y    &kp A             &none
&kp ESC  &kp Q  &kp R                      &kp S  &kp T     &kp D                             &backspace_behaviour  &kp N             &kp E      &kp I    &colon_semicolon  &kp SLASH
&kp TAB  &kp A  &kp X                      &kp C  &kp V     &kp B                             &kp K                 &kp M             &kp COMMA  &kp DOT  &kp O             &kp BACKSLASH
&kp A    &kp Z  &none                      &none  &kp A     &kp A         &none        &none  &kp ENTER             &kp A             &none      &none    &kp A             &kp A
                &none                      &none  &sk LALT  &sk LEFT_GUI  &kp SPACE    &mo 3  &sk LEFT_SHIFT        &sk LEFT_CONTROL  &none      &none
            >;
        };

        nav {
            bindings = <
&none    &kp HOME            &kp PAGE_DOWN       &kp PAGE_UP       &kp END        &none                     &none            &kp N7  &kp N8  &kp N9  &kp F10  &none
&none    &kp LEFT_ARROW      &kp DOWN_ARROW      &kp UP_ARROW      &kp RIGHT      &none                     &none            &kp N4  &kp N5  &kp N6  &kp F11  &none
&none    &kp LC(LEFT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT)  &none                     &kp N0           &kp N1  &kp N2  &kp N3  &kp F12  &none
&kp F23  &none               &none               &none             &none          &none   &none     &none   &kp PRINTSCREEN  &none   &none   &none   &none    &none
                             &none               &none             &trans         &trans  &trans    &trans  &mo 1            &trans  &none   &none
            >;

            display-name = "Nav";
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                     &trans  &trans  &trans  &trans  &trans    &trans  &mo 1         &trans        &trans            &trans
            >;

            display-name = "Adjust";
        };

        sym_rowwise_esa {
            bindings = <
&trans  &kp N1            &kp N2             &kp N3         &kp N4            &kp N5                    &kp N6  &kp N7     &kp N8     &kp N9          &kp N0           &trans
&trans  &kp SEMI          &kp RIGHT_BRACKET  &kp PLUS       &kp EQUAL         &trans                    &trans  &kp UNDER  &kp MINUS  &kp LEFT_BRACE  &kp QMARK        &kp F10
&trans  &kp LEFT_BRACKET  &kp PIPE           &kp LESS_THAN  &kp GREATER_THAN  &trans                    &trans  &trans     &trans     &kp TILDE       &kp RIGHT_BRACE  &kp F11
&trans  &trans            &trans             &trans         &trans            &trans  &trans    &trans  &trans  &trans     &trans     &trans          &trans           &kp F12
                          &trans             &trans         &none             &none   &none     &none   &none   &none      &trans     &trans
            >;
        };

        sym_non_number {
            display-name = "Symbols";
            bindings = <
&trans  &trans     &none   &none      &none     &trans                       &trans  &trans    &none      &trans    &trans   &trans
&trans  &trans     &kp LT  &kp EQUAL  &kp GT    &kp GRAVE                    &trans  &kp LBKT  &kp UNDER  &kp RBKT  &trans   &trans
&trans  &kp BSLH   &none   &kp MINUS  &none     &kp PLUS                     &none   &kp LBRC  &kp SEMI   &kp RBRC  &none    &kp QUESTION
&trans  &kp COMMA  &none   &kp COLON  &kp FSLH  &trans     &trans    &trans  &trans  &kp PIPE  &kp TILDE  &none     &kp DOT  &trans
                   &trans  &trans     &trans    &trans     &trans    &trans  &trans  &trans    &trans     &trans
            >;
        };

        sym_rowwise {
            bindings = <
&trans  &kp N1            &kp N2             &kp N3    &kp N4     &kp N5                    &kp N6  &kp N7     &kp N8     &kp N9          &kp N0           &trans
&trans  &trans            &kp RIGHT_BRACKET  &kp PLUS  &kp EQUAL  &trans                    &trans  &kp UNDER  &kp MINUS  &kp LEFT_BRACE  &kp TILDE        &trans
&trans  &kp LEFT_BRACKET  &trans             &trans    &trans     &trans                    &trans  &trans     &trans     &trans          &kp RIGHT_BRACE  &trans
&trans  &trans            &trans             &trans    &trans     &trans  &trans    &trans  &trans  &trans     &trans     &trans          &trans           &trans
                          &trans             &trans    &trans     &trans  &trans    &trans  &trans  &trans     &trans     &trans
            >;
        };

        sym_en_reference {
            bindings = <
&trans  &trans     &kp AT    &kp DLLR   &kp HASH  &trans                       &trans     &trans    &kp CARET  &trans    &trans    &trans
&trans  &trans     &kp LT    &kp EQUAL  &kp GT    &kp GRAVE                    &trans     &kp LBKT  &kp UNDER  &kp RBKT  &trans    &trans
&trans  &kp BSLH   &kp LPAR  &kp MINUS  &kp RPAR  &kp PLUS                     &kp PRCNT  &kp LBRC  &kp SEMI   &kp RBRC  &kp EXCL  &kp QUESTION
&trans  &kp COMMA  &kp STAR  &kp COLON  &kp FSLH  &trans     &trans    &trans  &trans     &kp PIPE  &kp TILDE  &kp AMPS  &kp DOT   &trans
                   &trans    &trans     &trans    &trans     &trans    &trans  &trans     &trans    &trans     &trans
            >;

            display-name = "Symbols";
        };

        sym_ru {
            display-name = "Symbols";
            bindings = <
&trans  &trans        &en AT        &en DLLR      &en HASH     &trans                           &trans          &trans    &en CARET    &trans    &trans      &trans
&trans  &trans        &en LT        &kp EQUAL     &en GT       &en GRAVE                        &trans          &en LBKT  &kp UNDER    &en RBKT  &trans      &trans
&trans  &kp RU_BSLH   &kp LPAR      &kp MINUS     &kp RPAR     &kp PLUS                         &kp RU_PERCENT  &en LBRC  &kp RU_SEMI  &en RBRC  &kp EXCL    &kp RU_QUESTION
&trans  &kp RU_COMMA  &kp RU_ASTRK  &kp RU_COLON  &kp RU_FSLH  &kp RU_NUMERO  &trans    &trans  &trans          &en PIPE  &en TILDE    &en AMPS  &kp RU_DOT  &trans
                      &trans        &trans        &trans       &to 1          &trans    &trans  &mo 1           &trans    &trans       &trans
            >;
        };

        ru {
            display-name = "Ru";
            bindings = <
&kp GRAVE  &kp N1                   &kp N2                &kp N3              &kp N4              &kp N5                                                               &kp N6              &kp N7                     &kp N8               &kp N9                 &kp N0               &kp BSPC
&kp ESC    &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                                                   &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_ZE   &kp BSLH
&kp TAB    &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                                                   &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE     &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&kp LSHFT  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I   &kp RU_CYRILLIC_HA    &kp RU_CYRILLIC_HARD_SIGN  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU     &kp RU_DOT           &kp RSHFT
                                    &kp LGUI              &kp LALT            &kp LCTRL           &to 1               &kp SPACE             &kp ENTER                  &mo 1               &kp RCTRL                  &kp RALT             &kp RGUI
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        non_number_and_non_shift {
            display-name = "Nav";
            bindings = <
&none    &kp HOME            &kp PAGE_DOWN       &kp PAGE_UP       &kp END        &none                     &none            &kp AMPERSAND  &kp ASTRK    &kp LPAR   &kp F10  &none
&none    &kp LEFT_ARROW      &kp DOWN_ARROW      &kp UP_ARROW      &kp RIGHT      &none                     &none            &kp DOLLAR     &kp PRCNT    &kp CARET  &kp F11  &none
&none    &kp LC(LEFT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT)  &none                     &kp RPAR         &kp EXCL       &kp AT_SIGN  &kp HASH   &kp F12  &none
&kp F23  &none               &none               &none             &none          &none   &none     &none   &kp PRINTSCREEN  &none          &none        &none      &none    &none
                             &none               &none             &trans         &trans  &trans    &trans  &none            &trans         &none        &none
            >;
        };
    };
};
